a { 
    color: #780000;
    text-decoration: none;
}
a.breadcrumb { 
    color: #9d9d9d;
}
a.disclaimer {
    color: #000000;
}
body {
    background: #E0E0E0;
    margin: 0%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    text-align: left;
}
button {
    background-color: inherit;
    font-size: inherit;
    width: 100%;
    text-align: left;
    border: none;
    padding: 3% 3% 3% 3%;
}
div {
    background-color: inherit; 
    color: inherit;
    padding: 1%;
    margin: 0%;
    font-size: 100%;
}
div.course_header {
    padding: 0.5% 1% 0% 1%;
    font-size: 150%;
}
div.catalog {
    padding: 0% 1% 1% 1%;
}
div.footer {
    background-color: #A80000;
    color: #F0F0F0;
    padding: 1% 1% 1% 1%;
}
div.header { 
    background-color: black;
    font-size: 150%;
    color: #848484;
}
div.no_results {
    background-color: inherit; 
    font-size: 175%;
    margin: 1%;
}
div.section {
    padding: 0% 0% 0% 4%;
}
div.section_header {
    padding: 0% 0% 0% 2%;
    font-size: 125%;
}
li {
    background-color: inherit;
    font-size: 100%;
    padding: 0%;
    margin: 0%;
}
li.btn {
    font-size: 150%;
}
li:nth-child(odd) {
    background-color: #F0F0F0;
}
span {
    color: #E0E0E0;
}
span.index {
    color: black;
    font-size:70px;
}
ul {
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    list-style-type: none; 
}
